node_modules/
.expo/
dist/
web-build/
.next/
out/
*.tsbuildinfo
.env
.env.local
.env*.local
android/
ios/
!apps/mobile/modules/**/ios/
.DS_Store
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
expo-env.d.ts
package-lock.json
